body {
  background: rgba(255, 250, 251, 1);
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 250, 251, 1);

  padding: 40px;
  padding-left: 100px;
  padding-right: 4%;
  z-index: 3;
}
.navContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 120px;
  width: 95%;
  background: rgba(255, 255, 255, 1);
  margin-left: 160px;
  margin-top: -40px;
  z-index: 2;
  margin-bottom: 10%;
}
.type1h1 {
  margin-top: 10px;
  font-size: 600%;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 9px;
  z-index: 1;
}
.square {
  width: 310px;
  height: 234px;
  margin-right: -7%;
  margin-left: -50px;
  opacity: 0.6px;
  z-index: 0;
  position: relative;
  background: rgba(255, 227, 234, 1);
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 12%;
  width: 100%;
  background-color: rgba(255, 250, 251, 1);
}
.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
}

.viewBtn {
  background-color: rgba(255, 234, 239, 1);
  border-radius: 57px;
  border: none;
  width: 217px;
  height: 44px;
  padding: 8px 0px 8px 0px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-right: 10px;
  color: rgb(26, 9, 14, 100);
}
.image1 {
  width: 70%;
  height: 40%;
  margin-bottom: 60px;
}
.image2 {
  display: none;
  width: 80%;
  height: 100%;
  padding-top: 30%;
}
a {
  color: black;
}
a:visited {
  color: black;
}
.nav-link:hover {
  color: rgba(255, 94, 135, 1);
}
.nav2 {
  display: none;
}
.text1 {
  width: 59%;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 60px;
}
@media (max-width: 900px) {
  .type1h1 {
    font-size: 600%;
  }

  .head {
    padding-top: 200px;
  }
}
@media (max-width: 805px) {
  .type1h1 {
    font-size: 500%;
    letter-spacing: 4px;
  }
  .square {
    margin-right: -20%;
  }
  .nav1 {
    display: none;
  }
  .nav2 {
    display: inline-block;
  }
  .navbar {
    padding-left: 20px;
  }
  .project {
    padding-left: 1px;
    margin-left: 80px;
    align-items: center;
  }
}
@media (max-width: 600px) {
  main {
    display: flex;
    align-items: center;

    flex-direction: column;
  }
  .head {
    padding-top: 100px;
  }
  .type1h1 {
    margin-left: 1%;
    font-weight: 510;
    font-size: 300%;
    letter-spacing: 2px;
  }
  .square {
    width: 35%;
    height: 160px;
    margin-bottom: -50px;
    z-index: 1;
  }
  .image1 {
    display: none;
  }
  .image2 {
    display: inline-block;
  }
  .buttons {
    flex-direction: column;
  }
  .project {
    background-color: transparent;

    margin: auto;
    align-items: center;
    padding: 0;
  }
  .text1 {
    background: rgba(255, 255, 255, 1);
    padding: 10%;
    width: 80%;
    z-index: 2;
  }
}
@media (max-width: 430px) {
  .type1h1 {
    font-size: 250%;
    padding-left: 5%;
  }
  .image2 {
    margin-top: 10%;
  }
}
