@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.navbar {
  position: fixed;
  width: 100%;
}
.nav1 {
  padding: 40px;
  padding-left: 140px;
  padding-right: 140px;
}
.nav2 {
  display: none;
}
.nav-link {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.navbar::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 250, 251, 1);
  z-index: -2;
}
.navbar::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: 50%,
    linear-gradient(
      179.84deg,
      rgba(26, 9, 14, 0.71) 0.14%,
      rgba(26, 9, 14, 0) 55.12%
    );
}

.navContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgba(255, 250, 251, 1);
  overflow-x: hidden;
}
.about-section {
  padding-top: 120px;
  display: flex;
  flex-direction: row;
}

.pinkSquare {
  background-color: rgba(255, 227, 234, 1);
  width: 210px;
  height: 240px;
  margin-bottom: -200px;
}

.icon {
  display: flex;
  justify-content: center;
}

i {
  margin: 20px;
}

.img1 {
  margin-top: -150px;
  width: 50%;
  object-fit: cover;
}
.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.firsth3 {
  font-size: 88px;
  font-family: "Times New Roman", Times, serif;

  margin-left: -5%;
  margin-bottom: 20px;
  letter-spacing: 10px;
  font-weight: 600;
}
.secondh3 {
  font-size: 38px;
  font-family: "Times New Roman", Times, serif;

  padding-left: 17%;
  margin-bottom: 20px;
  letter-spacing: 10px;
  font-weight: 600;
}
.sect1 {
  width: 50%;
}
p {
  font-size: 20px;
  padding-bottom: 80px;
}
.texts {
  padding: 40px;

  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  width: 70%;
}

a:visited {
  color: rgba(255, 250, 251, 1);
}
.row2 {
  display: none;
}
.sect2 {
  display: flex;
  flex-direction: column;
}
.img2 {
  width: 110vh;
  height: 55vh;
  object-fit: cover;
}
.links {
  margin-left: -80%;
}
.cv {
  border: none;
  font-weight: bolder;
  font-size: 22px;
  margin-left: -10px;

  text-decoration: none;
}
@media (max-width: 1110px) {
  body {
    overflow-y: scroll;
  }
  .nav1 {
    padding-right: 30px;
  }
  .firsth3 {
    font-size: 88px;
    font-family: "Times New Roman", Times, serif;

    margin-left: 0%;
  }
}

@media (max-width: 860px) {
  .texts {
    padding: 4px;
    padding-top: 14px;
  }
  .texts p {
    font-size: 16px;
  }
  .nav1 {
    display: none;
  }
  .nav2 {
    display: inline-block;
  }
  .row1 {
    display: none;
  }
  .row2 {
    display: inline-block;
  }
  .texts {
    width: 80%;
  }
  .navbar-toggler {
    border: none;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
  .secondh3 {
    font-size: 300%;
  }
}
@media (max-width: 500px) {
  .secondh3 {
    padding-left: 7%;
  }
}
