@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.navbar {
  position: fixed;
  width: 100%;

 
}
.nav1{
   padding: 40px;
  padding-left: 140px;
  padding-right: 140px;
}

.nav-link {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.navbar::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 250, 251, 1);
  z-index: -2;
}
.navbar::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: 50%,
    linear-gradient(
      179.84deg,
      rgba(26, 9, 14, 0.71) 0.14%,
      rgba(26, 9, 14, 0) 55.12%
    );
}

.navContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgba(255, 250, 251, 1);
  overflow-x: hidden;
}
.about-section {
  padding-top: 120px;
  display: flex;
  flex-direction: row;
}

.pinkSquare {
  background-color: rgba(255, 227, 234, 1);
  width: 210px;
  height: 240px;
  margin-bottom: -200px;
}

.icon {
  display: flex;
  justify-content: center;
}

i {
  margin: 20px;
}

.img1 {
  margin-top: -150px;
  width: 50%;
}
.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.firsth3 {
  font-size: 88px;
  font-family: "Times New Roman", Times, serif;

  padding-left: 12%;
  margin-bottom: 20px;
  letter-spacing: 10px;
  font-weight: 600;
}
.secondh3{
  font-size: 38px;
  font-family: "Times New Roman", Times, serif;

  padding-left: 7%;
  margin-bottom: 20px;
  letter-spacing: 10px;
  font-weight: 600;
}
.sect1 {
  width: 50%;
}
p {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 1);
  padding: 40px;
  padding-right: 20px;
  padding-bottom: 131px;
  width: 453px;

  margin: auto;
}

a:visited {
  color: rgba(255, 250, 251, 1);
}
.row2 {
  display: none;
}
.sect2 {
  display: flex;
  flex-direction: column;
}
.img2{
  width: 100vh;
  height: 45vh;
  object-fit: cover;
}
@media (max-width: 600px) {
  .nav1{
    display: none;
  }
  .row1 {
    display: none;
  }
  .row2 {
    display: inline-block;
  }
  p{
   width: 300px;
  }
  .navbar-toggler{
    border: none;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}
