@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 250, 251, 1);

  padding: 40px;
  padding-left: 140px;
  padding-right: 140px;
}
.navContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body {
  font-family: "Lato", sans-serif;
  background-color: rgba(255, 250, 251, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.intro {
  margin-right: 500px;
  margin-top: 163px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80vh;
  padding-left: 200px;
}
.image {
  display: flex;
  flex-direction: column;
}
.circle1 {
  background-color: rgba(255, 94, 135, 1);
  border-radius: 100%;
  width: 130px;
  height: 130px;
  z-index: -2;
  margin-bottom: -110px;
  margin-left: -40px;
}
.pic1 {
  width: 310px;
  height: 454px;
  border-radius: 162px;
  margin-right: 64px;
}
.circle2 {
  background-color: rgba(255, 206, 219, 0.89);
  border-radius: 100%;
  width: 97px;
  height: 97px;
  margin-top: -85px;
}
.headers {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 88px;
  font-family: "Times New Roman", Times, serif;

  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 82px;
}

h2 {
  font-size: 34px;
  margin-bottom: 50px;
  line-height: 40px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}
a:visited {
  color: rgb(0, 0, 0);
}
.rows {
  background-color: rgba(255, 245, 247, 1);
  width: 100%;
  height: 80vh;
  margin-bottom: 131px;
  height: 700px;
  display: flex;
  flex-direction: row;
}
.sec1 {
  display: flex;
  flex-direction: column;
}
.sec1-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 215px;
}
.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400px;
  padding: 97px 120px;
  padding-left: 215px;
}
.sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.projectImg {
  margin-right: 80px;

  margin-top: 32px;
  z-index: 2;
}
.square1 {
  background: rgba(255, 227, 234, 1);
  width: 234px;
  height: 269px;
  margin-top: 100px;
  margin-bottom: -370px;
  margin-left: 300px;
}
.square2 {
  background-color: rgba(255, 255, 255, 1);
  width: 519px;
  height: 375px;
  margin-left: -120px;

  margin-top: -350px;
  z-index: 1;
}
.material-symbols-outlined {
  font-size: 30px;
}
.btn {
  font-size: 20px;
  margin-bottom: 215px;
  margin-top: 97px;
  padding: 0;
}
span {
  vertical-align: top;
  color: rgba(255, 94, 135, 1);
}
.git {
  margin-top: 18px;
  margin-right: 4px;
}
.sfooter {
  background-color: rgb(223, 219, 214);
  width: 100%;
}
