@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.scrollUp {
  margin-top: -80px;

  width: 45px;
  height: 40px;
  margin-left: 50px;

  cursor: pointer;

  z-index: 3;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 250, 251, 1);

  padding: 40px;
  padding-left: 140px;
  padding-right: 140px;
  z-index: 3;
}
.navContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-toggler {
  border: none;
}
body {
  font-family: "Lato", sans-serif;
  background-color: rgba(255, 250, 251, 1);
  overflow-x: hidden;
}

.intro {
  margin-right: 500px;
  margin-top: 163px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80vh;
  padding-left: 200px;
}
.image {
  display: flex;
  flex-direction: column;
}
.circle1 {
  background-color: rgba(255, 94, 135, 1);
  border-radius: 100%;
  width: 130px;
  height: 130px;
  z-index: -2;
  margin-bottom: -110px;
  margin-left: -40px;
}
.pic1 {
  width: 310px;
  height: 454px;
  border-radius: 162px;
  margin-right: 64px;
}
.circle2 {
  background-color: rgba(255, 206, 219, 0.89);
  border-radius: 100%;
  width: 97px;
  height: 97px;
  margin-top: -85px;
}
.headers {
  display: flex;
  flex-direction: column;
}
.arrow {
  margin-top: -125px;
  width: 45px;
  height: 40px;
  margin-left: 50px;
  z-index: 4;
  cursor: pointer;
  position: fixed;
}
h1 {
  font-size: 88px;
  font-family: "Times New Roman", Times, serif;

  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 82px;
}

h2 {
  font-size: 34px;
  margin-bottom: 50px;
  line-height: 40px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}
a:visited {
  color: rgb(0, 0, 0);
}
.rows {
  background-color: rgba(255, 245, 247, 1);
  width: 100%;

  margin-bottom: 131px;
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.sec1 {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.sec1-2 {
  align-items: start;
}
.tools {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400px;
  padding-top: 90px;
}
.tools p {
  margin-right: 10%;
}
.sec1-2 p {
  width: 70%;
}
.sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 100px;
}
.projectImg {
  margin-top: 25%;
  margin-right: 80px;
  width: 95%;
  height: 95%;
  z-index: 2;
}
.projectImg2 {
  width: 90%;

  z-index: 2;
  object-fit: cover;
  margin-bottom: 40px;
}
.square1 {
  background: rgba(255, 227, 234, 1);
  width: 40%;
  height: 160px;

  margin-bottom: -370px;
  margin-left: 300px;
}
.square2 {
  background-color: rgba(255, 255, 255, 1);
  width: 87%;
  height: 480px;
  margin-left: -120px;

  margin-top: -450px;
  z-index: 1;
}
.material-symbols-outlined {
  font-size: 30px;
}
.btn {
  font-size: 20px;
  margin-bottom: 215px;
  margin-top: 97px;
  padding: 0;
}
.btn2 {
  margin-bottom: 10px;
  background-color: rgba(255, 227, 234, 1);
  padding: 10px 30px;
  border-radius: 60px;
}
span {
  vertical-align: top;
  color: rgba(255, 94, 135, 1);
}
.git {
  margin-top: 18px;
  margin-right: 4px;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.nav-link:hover {
  color: rgba(255, 94, 135, 1);
}
@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.nav2 {
  display: none;
}
.projects2 {
  display: none;

  margin: auto;
}
.intro2 {
  display: none;
}

@media (max-width: 600px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    display: inline-block;
  }
}
@media (max-width: 1050px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    padding-right: 0%;
  }
  .start {
    margin-bottom: 300px;
  }
  .projects1 {
    display: none;
  }
  .projects2 {
    display: inline-block;
    width: 100% !important;
  }

  .rows {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 120vh;
    align-items: stretch;
  }

  .tools {
    margin: auto;
    padding: 24px;
    margin-bottom: 30px;
  }
  .sec1 {
    margin: auto;
  }
  .sec1-2 p {
    width: auto;
    margin-top: -24px;
    margin-bottom: -70px;
  }
  .sec1-2 {
    margin: auto;
    align-items: center;
    padding: auto;
    text-align: center;
  }
  .sec2 {
    margin: auto;
  }
  .square1 {
    display: none;
  }
  .square2 {
    display: none;
  }
  .intro1 {
    display: none;
  }
  .intro2 {
    margin: auto;
    margin-top: 160px;
    display: inline-block;
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
  }
  .pic1 {
    width: 100%;
    height: 50%;
    border-radius: 100%;
    object-fit: cover;
  }
}
